body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}


.entry {
  background: #fff;
  border: 1px solid #000;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 25px;
  height: 25px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.dateEntry {
  background: rgb(235, 111, 111);
  border: 1px solid #000;
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 25px;
  height: 25px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.entry:hover {
  cursor: pointer;
  background: rgb(30, 126, 210);
}

/* .dates {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  height: 25px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
} */

.entry:focus {
  outline: none;
}

.kbd-navigation .entry:focus {
  background: #ddd;
}

/* .board {
  display: flex;
  flex-direction: row;
} */

/* .game-info {
  margin-left: 20px;
} */

/* .tableHover :hover {
  color: white;
  background-color: blue;
}

.tableSelected {
  background-color: blue;
} */