.notification_wrapper {
    /* background-color: red; */
    border:dotted grey;
    border-style: hidden hidden dashed hidden;
    /* width: 100vw; */
    /* height: 40px; */
    padding: 10px; /* T L B R */
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding-bottom: 10px;
}
.wrapper {
    border: solid grey;
    border-width: 5px ;
    width: 25vw;
    padding: 20px;
    border-radius: 25px;
}
.contentfraction {
    margin-top:10px;
}
.contenttime {
    margin-top:10px;
}
.button {

  /* background-color: #4CAF50; Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin-top:10px;
}

.close {
    transition: all 200ms ease-in-out; 
    padding: 5px; 
    border-radius: 50%;
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.126);
    transform: scale(1.3);
}